body {
    padding: 0;
}

.conteudo {
    display: grid;
    gap: 25px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "header header"
        "video-principal lateral";
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    height: 30px;
    background-color: rgb(156, 80, 156);
    width: 100%;
    grid-area: header;
    padding: 10px;
}

.video-principal {
    grid-area: video-principal;
    margin-left: 25px;
}

.video-principal video {
    width: 1000px;

}

.lateral {
    grid-area: lateral;
}

.logo-imagem {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 25px;
}

.logo-texto {
    margin-left: 20px;
    color: white;
    margin-top: -15px;
    font-family: monospace;
}

.videos {
    grid-area: video;
    align-content: center;
}

.video-infos {
    grid-area: infos;
    align-content: center;
    margin-top: -15px;
   

}

.videolateral {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "video  infos";
    gap: 25px;
    grid-template-rows:30px 30px 30px 30px ;

}